:root {
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success: #31d0aa;
  --text-color: #434455;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --accent-color: #e7e9fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
  max-width: 428px;
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

}

@media screen and (min-width: 320px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER  */
/* LOGO  */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  color: var(--dark-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 77px; */
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 123px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 77px;
  }

}

.header-logo-accent {
  color: var(--primary-brand-color);
}

/* MENU  */
@media screen and (min-width:0px) and (max-width: 767px) {
  .header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}

@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }

}

.header-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-container{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    
  }
}
.nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .nav {
    justify-content: space-between;
    width: 100%;
  }
}

.nav-list {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
  color: var(--primary-brand-color);
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--primary-brand-color);
}

/* CONTACT  */
.contact-list {
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width:768px) {
  .contact-list:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width:1200px) {
  .contact-list {
    display: flex;

  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

.contact-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) and (max-width:1200px) {
  .contact-link {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

@media screen and (min-width:1200px) {
  .contact-items:not(:last-child) {
    margin-right: 40px;
  }
}


/* HERO  */
.hero {
  background-color: var(--text-color);
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/01_mobile/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 192px;
  padding-bottom: 192px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 193dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/01_mobile/hero-bg-mobile@2x.jpg);
  }
}

@media screen and (min-width:429px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/02_tablet/hero-bg-tablet.jpg);
  }
}

@media screen and (min-width:429px) and (min-device-pixel-ratio: 2),
(min-resolution: 193dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/02_tablet/hero-bg-tablet@2x.jpg);
  }
}

@media screen and (min-width:769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/03_desktop/hero-bg-desktop.jpg);
  }
}

@media screen and (min-width:769px) and (min-device-pixel-ratio: 2),
(min-resolution: 193dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/03_desktop/hero-bg-desktop@2x.jpg);
  }
}

.hero-title {
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 319px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 40px;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
  }
}

.hero-button {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* BENEFITS  */
.benefits {
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}

.benefits-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .benefits-list {
    flex-wrap: wrap;
  }
}

.benefits-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits-item {
    width: calc((100% - 72px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .benefits-item:not(:nth-child(2n)) {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-item:not(:last-child) {
    margin-right: 24px;
  }
}

.benefits-icon-wrapper {
  display: flex;
  height: 112px;
  background: var(--light-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .benefits-icon-wrapper {
    display: none;
  }
}

.benefits-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

@media screen and (max-width: 767px) {
  .benefits-title:not(:first-child) {
    margin-top: 72px;
  }
}

@media screen and (max-width: 767px) {
  .benefits-title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-title {
    font-size: 20px;
  }
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/*  FEATURES */
@media screen and (max-width: 1199px) {
  .features {
    display: none;
  }
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-title {
  margin-bottom: 72px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

/* TEAM  */
.team {
  background-color: var(--light-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    margin-left: 108px;
    margin-right: 108px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 26px;
  }
}

.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 72px;

  }
}

@media screen and (max-width: 767px) {
  .team-item {
    max-width: 264px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width:1200px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.wrapper-team {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
}

.team-name {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-contact-list {
  display: flex;
  margin-top: 12px;
  justify-content: center;
}

.team-contact-item:not(:last-child) {
  margin-right: 24px;
}

.team-contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contact-link:hover,
.team-contact-link:focus {
  background-color: #404bbf;
}

/* CUSTOMERS */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;

}

@media screen and (max-width: 1199px) {
  .customers-list {
    row-gap: 72px;
  }
}

.customers-item {
  width: calc((100% - 16px) / 2)
}

@media screen and (max-width: 767px) {
  .customers-item:not(:nth-child(2n)) {
    margin-right: 16px;
  }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
  .customers-item:not(:nth-child(3n)) {
    margin-right: 24px;
  }
}

@media screen and (min-width:768px) {
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width:1200px) {
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}

@media screen and (min-width:1200px) {
  .customers-item:not(:last-child) {
    margin-right: 24px;
  }
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  fill: #404bbf;
  border-color: #404bbf;
}

/* FOOTER  */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-color);
}

@media screen and (max-width:767px) {
  .footer-wrap {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .footer-wrapper:not(:last-child) {
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .footer-wrap {
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (min-width:1200px) {
  .footer-wrap {
    display: flex;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .footer-container {
    padding-left: 108px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .footer-wrapper {
    margin-top: 72px;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .footer-wrapper:first-child {
    margin-right: 24px;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .footer-wrapper-flex {
    display: flex;
    align-items: flex-end;
  }
}


@media screen and (min-width: 1200px) {
  .footer-wrapper:first-child {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper.footer-wrapper-form {
    margin-left: 80px;
  }
}


.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.footer-logo-accent {
  color: var(--primary-brand-color);
}

@media screen and (max-width:767px) {
  .footer-logo {
    display: block;
    text-align: center;
  }
}

.footer-text {
  margin-top: 16px;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width:767px) {
  .footer-text {
    display: block;
    text-align: center;
    max-width: 269px;
    margin-right: auto;
    margin-left: auto;
  }
}

.social-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .social-text {
    text-align: center;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .social-text {
    text-align: start;
  }
}

.social-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .social-list {
    justify-content: center;
  }
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--success);
}

@media screen and (min-width:1200px) {
  .footer-wrapper-flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

}

.subscribe-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

@media screen and (max-width:767px) {
  .subscribe-label {
    text-align: center;
    display: block;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .subscribe-label {
    text-align: start;
  }
}

.subscribe-input {
  display: block;
  margin-top: 16px;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
}

.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

@media screen and (max-width:767px) {
  .subscribe-input {
    width: 100%;
    margin-bottom: 16px;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .subscribe-input {
    max-width: 264px;
  }
}

.btn-send {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  height: 40px;
  min-width: 165px;

  margin-left: 24px;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
  background-color: #404bbf;
}

@media screen and (max-width:768px) {
  .btn-send {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .btn-send {
    margin-left: 24px;
  }
}

.icon-send {
  margin-left: 16px;
}

/* PORTFOLIO  */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* MENU  */
.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
gap: 24px;
margin-bottom: 48px;
}
@media screen and (min-width:768px){
  .portfolio-menu{
margin-bottom: 64px;
  }
  
}
@media screen and (min-width:1200px) {
  .portfolio-menu{
justify-content: center;
  
  margin-bottom: 72px;
  }
  
}
.menu-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 8px 16px;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width:768px) {
  .menu-button{
    padding: 12px 24px;
    }
}

.menu-button:hover,
.menu-button:focus {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
}

.current-button {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
}

/* portfolio card  */

@media screen and (min-width:768px) {
  .portfolio-list{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 72px;
}
  }
  
@media screen and (min-width: 1200px) {
  .portfolio-list{
  row-gap: 48px;
  }
}

@media screen and (max-width:767px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media  screen and (min-width: 1200px) {
  .portfolio-item{
width: calc((100% - 48px) / 3);

  }
}
.portfolio-link {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper-img {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: var(--primary-brand-color);
  width: 100%;
  height: 100%;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.porfolio-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.portfolio-text-tip {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}

/* MODAL  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.7);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 584px;
  width: 408px;
  padding: 24px;
  background-color: #fcfcfc;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus,
.button-close:hover {
  fill: #ffffff;
  background-color: #404bbf;
  border-color: transparent;
}

.form {
  margin-top: 24px;
}

.form-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.form-wrapper:not(:first-child) {
  margin-top: 8px;
}

.form-contact-label {
  position: relative;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-contact-label:focus-within>.form-contact-input {
  border-color: #4d5ae5;
  outline: none;
}

.form-contact-label:focus-within>.form-icon {
  fill: #4d5ae5;
}

.form-contact-input {
  position: relative;
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 34px;
  left: 19px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  margin-top: 4px;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment:focus {
  border-color: #4d5ae5;
  outline: none;
}

.form-label-chekbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.checkbox {
  position: absolute;
  appearance: none;
}

.chekbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}

.checkbox:checked+.chekbox-icon {
  border-color: transparent;
  background-color: #404bbf;
  background-image: url(../images/icon-checked.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.text-label {
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.label-link {
  color: var(--primary-brand-color);
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #4d5ae5;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

/* MOBILE MENU  */
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  /* position: absolute; */
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);

}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: var(--white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  margin-bottom: auto;
}


.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu .link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  text-decoration: none;
}

.mobile-menu-link.current {
  color: #404bbf;
}

.mobile-contacts {
  margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-contacts-link.accent {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;

  text-transform: capitalize;

  color: var(--primary-brand-color);
}

.mobile-social-list {
  display: flex;
  align-items: center;
  gap: 56px;
}

.mobile-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
}

.menu-toggle-close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
}